/*General*/

*{
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

/*Body*/

body{
    font-style: italic;
    font-weight: 600;
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    min-height: 100%;
    height: auto;
}

/*Header*/

header{
    width: 100%;
    padding: 6px;
    margin-bottom: 35px;
    text-align: center;
    color:white;
}
h1{
    font-size: 2.5rem;
    line-height: 2.5rem;
}

/*Big Container*/

.big-container{
    text-align: center;
    margin:25px;
}

/*Search Box*/

.search-box{
    text-align: center;
    margin:0 auto;
}

.text-btn-search-box{
    margin: 5px auto;
}

#search-bar{
    height: 55px;
    width: 20%;
    border-radius: 12px;
    border:none;
    margin:10px;
    padding:10px;
    font-style: italic;
    font-size: 2rem;
    transition: width 0.7s ease-in-out;
}

#search-bar:hover{
    width: 45vw;
}

.btn-search{
    width:55px;
    height: 55px;
    background: inherit;
    border: none;
    color:white;
    font-size: 2.5rem;
}

.btn-random{
    border-radius: 8px;
    border:none;
    margin:10px;
    font-size: 2rem;
    font-style: italic;
    color:white;
    background: inherit;
    font-weight: 900;
}

.btn-random:hover{
    transform: scale(1.1);
    color:tomato;
}

button:hover{
    cursor: pointer;
}


/*List*/

ul{
    list-style: none;
    margin: 5px;
    padding: 5px;
}

li{
    opacity: 0.9;
    background-color: #D8D9DD;
    padding: 5px;
    margin: 24px;
    font-size: 1.5rem;
    border-radius: 30px;
    box-shadow: 2px 2px 8px silver;
    border: none;
    display: flex;
    justify-content: space-around;
}

a{
    color: white;
    text-align: none;
    text-decoration: none;
}
li a{
    opacity: 1;
    color:#191919;
}

a:hover{
    color:#468499;
}

.random-text:hover{
    color:white;
}


/*Styling the elements retrieved from the API*/

img{
    width: 250px;
    height: 250px;
    border: none;
    border-radius: 22px;
}

.img-container{
    max-width: 30%;
    /*margin-right: 12px;*/
    float:left;
}

.description-container{
    max-width: 60%;
    float:left;
}

.clearfix{
    clear:both;
}

h2{
    font-size: 2.2rem;
    text-transform: uppercase;
    font-family: 'Spectral SC', serif;
    color:teal;
}

p{
    font-size: 1.4rem;
}


/*Footer*/

footer{
    width: 100%;
    background-color: black;
    position: fixed;
    bottom:0;
    right: 0;
    left: 0;
    padding: 4px;
    text-align: center;
    color:white;
    font-size: 1.rem;
}



